---
import Layout from "../../layouts/Layout.astro";
import type { Locals } from "../../middleware";

const user = (Astro.locals as Locals).user;
if (!user) return Astro.redirect("/login");

const userId = user._id;
---

<Layout title="Dashboard">
  <div slot="content">test 2</div>
</Layout>
