---
import { twMerge } from 'tailwind-merge';
import { clsx } from 'clsx'

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<button class={twMerge(clsx('button-gradient px-4 py-2 font-bold rounded-lg text-lg flex justify-center items-center w-[100px] cursor-pointer ', className))}>
  <slot />
</button>

<style is:global>
  .button-gradient {
    @apply from-brand-200 to-blue-400 bg-gradient-to-tr transition-all bg-grad-size hover:bg-grad-pos-end;
  }
</style>