---
import { AiFillAliwangwang } from "react-icons/ai";
import { cn } from "../lib/utils";

interface Props {
  iconSize?: number;
  fontSize?: string;
  className?: string;
  text?: string;
  href?: string;
}

const defaults = {
  iconSize: 64,
  fontSize: "4xl",
  text: "Minti",
};

const { iconSize, fontSize, className, text, href } = Astro.props;
---

<div class="flex flex-row gap-4 items-center justify-center">
  <AiFillAliwangwang
    size={iconSize || 64}
    className="bg-gradient-to-tr from-brand-200 to-secondary-400 rounded-full p-1 text-white"
  />
  <a
    href={href || "/"}
    class={cn(
      `font-bold dark:text-white text-black text-${fontSize || defaults.fontSize}`,
      className,
    )}>{text || defaults.text}</a
  >
</div>
