---
import { cn } from "../lib/utils";
import Button from "./Button.astro";

interface Props {
  href: string;
  variant?: "link" | "button";
  className?: string;
}

const { href, variant = "link", className } = Astro.props;
---

{
  variant === "link" ? (
    <a
      href={href}
      class={cn(
        `text-dark-800 dark:text-light-200 hover:text-dark-400 dark:hover:text-light-100 transition-all hover:-translate-y-1 text-lg drop-shadow-md font-medium`,
        className,
      )}
    >
      <slot />
    </a>
  ) : (
    <a
      href={href}
      class={cn(
        "transition-all text-white font-bold rounded-xl px-4 py-2 from-brand-200 to-blue-400 bg-gradient-to-tr shadow-lg cursor-pointer bg-grad-size hover:bg-grad-pos-end",
        className,
      )}
    >
      <slot />
    </a>
  )
}
