---
import Button from "./Button.astro";

interface Props {
  href: string;
  variant?: "link" | "button";
}

const { href, variant = "link" } = Astro.props;
---

{
  variant === "link" ? (
    <a
      href={href}
      class="transition-all text-lg font-semibold text-neutral-300 bg-clip-text from-brand-200 to-blue-400 hover:text-transparent bg-gradient-to-tr"
    >
      <slot />
    </a>
  ) : (
    <Button>
      <slot />
    </Button>
  )
}
