---
import Layout from "../../../../layouts/Layout.astro";
import CreateForm from "../../../../components/servers/CreateForm.tsx";
import Button from "../../../../components/Button.astro";
import type { Locals } from "../../../../middleware";

const user = (Astro.locals as Locals).user;
if (!user) return Astro.redirect("/login");
---

<Layout title="Create Server">
  <div class="w-full h-full flex justify-center items-center" slot="content">
    <div
      class="flex flex-col gap-6 p-12 bg-white dark:bg-neutral-800 rounded-lg shadow-lg"
    >
      <div id="header" class="flex flex-col gap-2 justify-center max-w-[600px]">
        <div class="flex flex-row items-center justify-between">
          <h1 class="text-3xl font-bold">Create Server</h1>
          <Button href="https://www.mintipays.org/downloads/plugins/minecraft"
            >Download Plugin</Button
          >
        </div>
        <p class="text-lg">
          Create a new server connection to get started with Minti
        </p>
      </div>
      <CreateForm userId={user._id.toString()} client:load />
    </div>
  </div>
</Layout>
