---
import Navbar from "../components/Navbar.astro";
import DatabaseWrapper from "./DatabaseWrapper.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="w-screen h-screen bg-neutral-900 overflow-hidden flex justify-center"
  >
    <DatabaseWrapper>
      <div class="max-w-[1920px] w-full h-full flex flex-col text-white">
        <Navbar />
        <slot />
      </div>
    </DatabaseWrapper>
  </body>
</html>
