---
import Navbar from "../components/Navbar.astro";
import DatabaseWrapper from "./DatabaseWrapper.astro";
import "../globals.css";
import Sidebar from "../components/Sidebar.astro";
import { FaMoon } from "react-icons/fa";
import { MdSunny } from "react-icons/md";

interface Props {
  title: string;
}

const { title } = Astro.props;

const darkMode = Astro.cookies.get("dark")?.value === "true";
const isDashboard = Astro.url.pathname.startsWith("/dashboard");
const isDarkMode = Astro.cookies.get("dark")?.value === "true";
---

<!doctype html>
<html lang="en" class={darkMode ? "dark" : ""}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="w-screen h-screen bg-neutral-100 dark:bg-neutral-900 overflow-hidden flex justify-center"
  >
    <DatabaseWrapper>
      <div class="flex flex-row gap-0 w-full h-full justify-start">
        <!-- <div class=`"max-w-[300px] w-full h-full flex flex-col gap-4 p-4"> -->
        {isDashboard && <Sidebar />}
        {
          isDashboard && (
            <div class="absolute top-4 right-4">
              <div
                id="themeChanger"
                class="from-brand-200 to-blue-400 bg-gradient-to-tr transition-all bg-grad-size hover:bg-grad-pos-end px-2 py-2 text-white rounded-xl cursor-pointer"
              >
                {isDarkMode ? <MdSunny size={16} /> : <FaMoon size={16} />}
              </div>
            </div>
          )
        }
        <!-- </div> -->
        <div
          class="w-full h-full flex flex-col text-neutral-900 dark:text-white"
        >
          {!isDashboard && <Navbar />}
          <slot name="content" />
        </div>
      </div>
    </DatabaseWrapper>
  </body>
</html>
